{% extends "base.html" %}

{% block title %}{{ section.title }} - {{ config.title }}{% endblock title %}
{% block description %}{% if section.description %}{{ section.description }}{% else %}{{ config.description }}{% endif %}{% endblock description %}
{% block canonical %}{{ section.permalink }}{% endblock canonical %}
{% block og_url %}{{ section.permalink }}{% endblock og_url %}
{% block og_title %}{{ section.title }} - {{ config.title }}{% endblock og_title %}
{% block og_description %}{% if section.description %}{{ section.description }}{% else %}{{ config.description }}{% endif %}{% endblock og_description %}
{% block twitter_title %}{{ section.title }} - {{ config.title }}{% endblock twitter_title %}
{% block twitter_description %}{% if section.description %}{{ section.description }}{% else %}{{ config.description }}{% endif %}{% endblock twitter_description %}
{% block body_class %}site-page-body site-changelog-page{% endblock body_class %}

{% block content %}
<div class="site-page zoomable">
  <div class="trix-content e-content">
    {{ section.content | safe }}

    <ul class="t-list-of-posts site-list-of-posts h-feed">
      {% set posts_section = get_section(path="changelog/_index.md") %}
      {% set_global current_year = "" %}
      {% for post in posts_section.pages %}
        {% set post_year = post.date | date(format="%Y") %}
        {% if post_year != current_year %}
          {% set_global current_year = post_year %}
          <li class="post-list-year-h2">{{ current_year }}</li>
        {% endif %}
        <li class="h-entry">
          <time class="dt-published" datetime="{{ post.date | date(format="%Y-%m-%dT%H:%M:%S%:z") }}" title="{{ post.date | date(format="%Y-%m-%dT%H:%M:%S%:z") }}">
            {{ post.date | date(format="%b %-d") }}
          </time>
          <span class="t-post post-link"><a class="p-name u-url" href="{{ post.path }}">{{ post.title }}</a></span>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock content %}
