{% extends "base.html" %}

{% block title %}{{ page.title }} - {{ config.title }}{% endblock title %}
{% block description %}{% if page.description %}{{ page.description }}{% else %}{{ config.description }}{% endif %}{% endblock description %}
{% block canonical %}{{ page.permalink }}{% endblock canonical %}
{% block og_url %}{{ page.permalink }}{% endblock og_url %}
{% block og_title %}{{ page.title }} - {{ config.title }}{% endblock og_title %}
{% block og_description %}{% if page.description %}{{ page.description }}{% else %}{{ config.description }}{% endif %}{% endblock og_description %}
{% block twitter_title %}{{ page.title }} - {{ config.title }}{% endblock twitter_title %}
{% block twitter_description %}{% if page.description %}{{ page.description }}{% else %}{{ config.description }}{% endif %}{% endblock twitter_description %}
{% block body_class %}site-page-body{% endblock body_class %}

{% block content %}
<article class="site-page zoomable">
  <header class="site-page-header">
    <h1>{{ page.title }}</h1>
  </header>

  <div class="trix-content e-content">
    {{ page.content | safe }}
  </div>

  <footer class="site-meta">
    <div class="mt-3XS site-link-back-to-blog-posts">
      <a href="/">Back to all posts</a>
    </div>
  </footer>
</article>
{% endblock content %}
